{% macro displayPost(posts) %}

    {% for post in posts %}
        <div style="background-color: bisque">
            <div class="container">
            

                <h2 class="tle">{{post.title}} </h2>
                <p >{{post.description}}</p>
                <div class="bttn">
                    <a href="/post/{{post.id}}" class="pst"><button><strong>view comment</strong></button></a><br>
                    <a href="comment/new/{{post.id}}" class="btn btn_primary"><button><strong>Add Comment</strong></button></a>
                    
            </div>  
        

    {% endfor %}

{% endmacro %} 



{% macro displayComment(comments) %}
    <h3>Comments</h3>

    {%for comment in comments%}
        <p>{{comment.comment}}</p>
        <a href="/delete/new/{{comment.id}}"><button><strong>DELETE</strong></button></a>
        <a href="/update/new/{{comment.id}}"><button><strong>update</strong></button></a>

    
{%endfor%}

       
{% endmacro %}  


{% macro displayQuoteList(quote_list) %}

    {% for quote in quote_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 quote-card">
            <img src="{{ quote.poster }}" alt="{{ quote.title }} poster" >
            <li class="text-center">
                <a href="/quote/{{quote.id}}">
                    {{ quote.author}}</a>
            </li>
        </div>
</div>
</div>
    {% endfor %}

{% endmacro %}