{% macro displayPost(posts) %}

    {% for post in posts %}
        <div class="container">
        

            <h2 class="tle">{{post.title}} </h2>
            <p >{{post.description}}</p>
            <a href="/post/{{post.id}}" class="pst"> view comment</a><br>
            <a href="comment/new/{{post.id}}" class="btn btn_primary">Add Comment</a>
        </div>

    {% endfor %}

{% endmacro %} 


{% macro displayComment(comments) %}
<h3>Comments</h3>

    {%for comment in comments%}
    <p>{{comment.comment}}</p>
{%endfor%}
{% endmacro %}  


{% macro displayQuoteList(quote_list) %}

    {% for quote in quote_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
            <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="img-responsive">
            <li class="text-center">
                <a href="/movie/{{movie.id}}">
                    {{ quote.author}}</a>
            </li>
        </div>

    {% endfor %}

{% endmacro %}